<launch>
   <!-- fcu node -->
	<arg name="fcu_url" default="tcp://localhost:5760?ids=1,1" />
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find aero)/launch/config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="" />
		<arg name="tgt_system" value="1" />
		<arg name="tgt_component" value="1" />
		<arg name="log_output" value="screen" />
		<arg name="fcu_protocol" value="v2.0" />
		<arg name="respawn_mavros" default="false" />
	</include>

   <!-- vicon node -->
	<node pkg="vicon_stream" type="vicon_stream" name="vicon" output="screen">
    <rosparam>
      vicon_host_name: DESKTOP-5I1N12N.local
    </rosparam>
		<remap from="/vicon/michael" to="/mavros/vision_pose/pose"/>
	</node>

   <!-- joy node -->
   <machine name="lab" address="lab.local" env-loader="/home/dev/env.sh" user="dev"/>
  <node machine="lab" respawn="true" pkg="joy" type="joy_node" name="joy">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.02" />
  </node>

   <!-- offboard node -->
   <node pkg="aero" type="offboard.py" name="offboard" output="screen"/>
</launch>
